<h1>{{title}}</h1>

<form #basicForm='ngForm' (ngSubmit)="getData(basicForm.value)">
  <input type="text" ngModel name="user" placeholder='Enter user name' />
  <br><br>
  <input type="text" ngModel name="email" placeholder='Enter user email' />
  <br><br>
  <input type="text" ngModel name="number" placeholder='Enter user mobile  number' />
  <br><br>
  <button>Register</button>
</form>

<ul>
  <li>{{Data.user}}</li>
  <li> {{Data.email}} </li>
  <li>{{Data.number}}</li>
</ul>


<p>Toggle Element </p>
<button (click)="toggle()">Toggle</button>
<h1 *ngIf='display'>Toggle Heading</h1>
<app-to-do-list></app-to-do-list>


<app-child [item]="data"></app-child>

<h2>Reuseable Component</h2>
<ul *ngFor="let item of userDetails">
  <app-user-details [details]="item"></app-user-details>

</ul>