<h1>{{title}}</h1>

<form #basicForm='ngForm' (ngSubmit)="getData(basicForm.value)">
  <input type="text" ngModel name="user" placeholder='Enter user name' />
  <br><br>
  <input type="text" ngModel name="email" placeholder='Enter user email' />
  <br><br>
  <input type="text" ngModel name="number" placeholder='Enter user mobile  number' />
  <br><br>
  <button>Register</button>
</form>

<ul>
  <li>{{Data.user}}</li>
  <li> {{Data.email}} </li>
  <li>{{Data.number}}</li>
</ul>


<p>Toggle Element </p>
<button (click)="toggle()">Toggle</button>
<h1 *ngIf='display'>Toggle Heading</h1>
<app-to-do-list></app-to-do-list>


<app-child [item]="data"></app-child>

<h1>Reuseable Component</h1>
<ul *ngFor="let item of userDetails">
  <app-user-details [details]="item"></app-user-details>
</ul>

<h1>Th2 data is here: {{childData}}</h1>
<app-child-data2 (getDataEvent)="getChildData($event)"></app-child-data2>


<h1>Two way Binding</h1>
<h1>The text is Here: {{name_for_2way}}</h1>
<h2>To display any property & update it at same time</h2>
<input type="text" [(ngModel)]="name_for_2way">


<h1>Template Referance Variables: ('#anything')</h1>
<h2>{{ItemDataName}}</h2>
<input type="text" #boxReferanceVariable name="name_Box" placeholder="Enter the User Name ">
<button (click)="getDataNameBox(boxReferanceVariable.value)">Click here to update</button>

<h1>Template Form</h1>
<app-form></app-form>